@model FormApplication.Models.FullFormModel

@{
    ViewBag.Title = "OccupantView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OccupantView</h2>

@using (Html.BeginForm("SaveOccupantEdit", "Forms",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Welcome @Model.Fullname, Now you can make changes to your profile </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control dropdown " name="Gender" id="Gender">
                    @foreach (var item in ViewBag.gender)
                    {
                        if (Model.Gender == item.GenderType)
                        {
                            <option value="@item.GenderId" selected>@item.GenderType</option>
                        }
                        else
                        {
                            <option value="@item.GenderId">@item.GenderType</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HouseNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control dropdown " name="HouseNumber" id="HouseNumber" onchange="">
                    @foreach (var item in ViewBag.housebatch)
                    {
                        if (Model.HouseNumber == item.HouseUnit)
                        {
                            <option id="house_@item.HouseId" value="@item.HouseId" selected>@item.HouseUnit</option>
                        }
                        else
                        {

                            <option id="house_@item.HouseId" value="@item.HouseId">@item.HouseUnit</option>
                        }

                    }
                </select>
                @Html.ValidationMessageFor(model => model.HouseNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profession, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profession, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Profession, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control dropdown " name="Status" id="Status" onchange="">
                    @foreach (var item in ViewBag.status)
                    {
                        if (Model.Status == item.StatusType)
                        {

                            <option value="@item.StatusId"selected>@item.StatusType</option>
                        }
                        else
                        {

                            <option value="@item.StatusId">@item.StatusType</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Edit Spouse", "ViewSpouse", new { id=Model.ID })||
    @Html.ActionLink("Back to List", "Index")
</div>
